---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
import { SITE } from "../site-config";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" padding="p-4">
  <div class="flex justify-between w-full items-start mb-1">
    <div class="flex">
      <h2 class="text-white text-xl font-bold mr-2">Now</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">
    {SITE.now.text}
    <a class="text-bold underline" href={SITE.now.linkUrl} target="_blank">
      {SITE.now.linkText}
    </a>
  </p>
</Card>
