---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
import { getSiteSettings } from "../lib/directus";

const settings = await getSiteSettings();
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" padding="p-4">
  <div class="flex justify-between w-full items-start mb-1">
    <div class="flex">
      <h2 class="text-white text-xl font-bold mr-2">Now</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">{settings.now_text} <a class="text-bold underline" href={settings.now_link_url} target="_blank">{settings.now_link_text}</a>.</p>
</Card>
